In [49]:
#  Dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
import os
import numpy as np

In [31]:
# Load in data
df = pd.read_csv('data_sets/drafted_data.csv')
df.head()

,LEAGUE,PLAYER_ID,POSITION,SEASON,AGE_SEPT_15,GP,G,A,TP,PPG,...,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED,NHL_PPG,NHL_GP,NHL_DV
0,WHL,100577/richard-nejezchleb,F,2015,21.369444,49,20,31,51,1.040816,...,3,150,0,1,DY+3,L,Yes,0.000000,0,0
1,QMJHL,100867/jan-kostalek,D,2015,20.577778,57,7,36,43,0.754386,...,3,160,0,1,DY+2,R,Yes,0.000000,0,0
2,OHL,101221/dominik-kubalik,F,2014,19.066667,59,18,11,29,0.491525,...,2,126,0,0,DY+1,L,Yes,0.000000,0,0
3,WHL,10123/denis-rehak,D,2004,19.336111,25,0,3,3,0.120000,...,1,25,1,0,DY+1,L,Yes,0.000000,0,0
4,USHL,101430/nathan-walker,F,2013,19.605556,29,7,20,27,0.931034,...,1,29,1,0,DY+1,L,Yes,0.166667,12,1

In [32]:
# Function to convert League from string into int
def league_int(x):
    if x.LEAGUE == 'WHL':
        return 0
    elif x.LEAGUE == 'QMJHL':
        return 1
    elif x.LEAGUE == 'OHL':
        return 2
    elif x.LEAGUE == 'USHL':
        return 3

In [33]:
#apply funct to set and show headto see league is now int
df['LEAGUE'] = df.apply(league_int, axis=1)
df.head()

,LEAGUE,PLAYER_ID,POSITION,SEASON,AGE_SEPT_15,GP,G,A,TP,PPG,...,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED,NHL_PPG,NHL_GP,NHL_DV
0,0,100577/richard-nejezchleb,F,2015,21.369444,49,20,31,51,1.040816,...,3,150,0,1,DY+3,L,Yes,0.000000,0,0
1,1,100867/jan-kostalek,D,2015,20.577778,57,7,36,43,0.754386,...,3,160,0,1,DY+2,R,Yes,0.000000,0,0
2,2,101221/dominik-kubalik,F,2014,19.066667,59,18,11,29,0.491525,...,2,126,0,0,DY+1,L,Yes,0.000000,0,0
3,0,10123/denis-rehak,D,2004,19.336111,25,0,3,3,0.120000,...,1,25,1,0,DY+1,L,Yes,0.000000,0,0
4,3,101430/nathan-walker,F,2013,19.605556,29,7,20,27,0.931034,...,1,29,1,0,DY+1,L,Yes,0.166667,12,1

In [34]:
# Create a function to coonvert position string to int
def position_int(x):
    if x.POSITION == 'F':
        return 0
    elif x.POSITION == 'D':
        return 1

In [35]:
# Apply position conversion function adn display head to show it worked properly
df['POSITION'] = df.apply(position_int, axis=1)
df.head()

,LEAGUE,PLAYER_ID,POSITION,SEASON,AGE_SEPT_15,GP,G,A,TP,PPG,...,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED,NHL_PPG,NHL_GP,NHL_DV
0,0,100577/richard-nejezchleb,0,2015,21.369444,49,20,31,51,1.040816,...,3,150,0,1,DY+3,L,Yes,0.000000,0,0
1,1,100867/jan-kostalek,1,2015,20.577778,57,7,36,43,0.754386,...,3,160,0,1,DY+2,R,Yes,0.000000,0,0
2,2,101221/dominik-kubalik,0,2014,19.066667,59,18,11,29,0.491525,...,2,126,0,0,DY+1,L,Yes,0.000000,0,0
3,0,10123/denis-rehak,1,2004,19.336111,25,0,3,3,0.120000,...,1,25,1,0,DY+1,L,Yes,0.000000,0,0
4,3,101430/nathan-walker,0,2013,19.605556,29,7,20,27,0.931034,...,1,29,1,0,DY+1,L,Yes,0.166667,12,1

In [36]:
# define function to convert shoots from string to int
def shoots_int(x):
    if x.SHOOTS == 'L':
        return 0
    elif x.SHOOTS == 'R':
        return 1

In [37]:
df['SHOOTS'] = df.apply(shoots_int, axis=1)
df.head()

,LEAGUE,PLAYER_ID,POSITION,SEASON,AGE_SEPT_15,GP,G,A,TP,PPG,...,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,DY_STATUS,SHOOTS,DRAFTED,NHL_PPG,NHL_GP,NHL_DV
0,0,100577/richard-nejezchleb,0,2015,21.369444,49,20,31,51,1.040816,...,3,150,0,1,DY+3,0.0,Yes,0.000000,0,0
1,1,100867/jan-kostalek,1,2015,20.577778,57,7,36,43,0.754386,...,3,160,0,1,DY+2,1.0,Yes,0.000000,0,0
2,2,101221/dominik-kubalik,0,2014,19.066667,59,18,11,29,0.491525,...,2,126,0,0,DY+1,0.0,Yes,0.000000,0,0
3,0,10123/denis-rehak,1,2004,19.336111,25,0,3,3,0.120000,...,1,25,1,0,DY+1,0.0,Yes,0.000000,0,0
4,3,101430/nathan-walker,0,2013,19.605556,29,7,20,27,0.931034,...,1,29,1,0,DY+1,0.0,Yes,0.166667,12,1

In [40]:
# split outcomes into independent Df
outcomes = df['NHL_DV']
outcomes.head()

0    0
1    0
2    0
3    0
4    1
Name: NHL_DV, dtype: int64

In [42]:
# Create input factors w/o outcomes, drop ID
input_factors = df.drop(['NHL_DV', 'PLAYER_ID','DY_STATUS','DRAFTED','SEASON','NHL_PPG','NHL_GP'], axis = 1)
input_factors.head()

,LEAGUE,POSITION,AGE_SEPT_15,GP,G,A,TP,PPG,SEASON_NO,SEASON_>20GP,CUM_GP,ONLY_1_SEASON,MIN_3_SEASONS,SHOOTS
0,0,0,21.369444,49,20,31,51,1.040816,3,3,150,0,1,0.0
1,1,1,20.577778,57,7,36,43,0.754386,3,3,160,0,1,1.0
2,2,0,19.066667,59,18,11,29,0.491525,2,2,126,0,0,0.0
3,0,1,19.336111,25,0,3,3,0.120000,1,1,25,1,0,0.0
4,3,0,19.605556,29,7,20,27,0.931034,1,1,29,1,0,0.0

In [48]:
# Drop NaN and infinite numbers from set
df.replace([np.inf, -np.inf], np.nan).dropna()

NameError: name 'np' is not defined

In [43]:
# Assign X (data) and y (target)
X = input_factors
y = outcomes
print(X.shape, y.shape)

(2810, 14) (2810,)

In [44]:
# split data into test/train
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1, stratify=y)

In [45]:
# import llogistic reg from sklean
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [46]:
LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [47]:
# run regression
classifier.fit(X_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').